body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    object-fit: cover;
    width: 10%;
}

.user_img{
    border-radius: 100%;
}

.content_load {
    visibility: hidden;
}