{% extends 'wrapper.html' %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


{% block main %}
     <div class="header">
        <h1>InstaDownloader</h1>
    </div>
    <div class="selector">
        <button value="asd" id="btn_load_post">Загрузить пост</button>
        <button value="asd" id="btn_load_profile">Загрузить фотографии профиля</button>
        <div class="load_post" id="div_load_post">
            post

            <label for="post_link"></label><input id="post_link" name="post_link" type="text" size="40">
            <button id="send_post_link">Отправить</button>

        </div>
        <div class="load_profile" id="div_load_profile" style="visibility: hidden">
            profile

        </div>
    </div>

    <div class="content_load">
        content
        <p id="user_name"></p>
        <img class="user_img" src="" alt="img">
        <div class="user_photos"></div>
    </div>
{% endblock %}

